.post{
    margin-bottom: 50px;
}
.post-top_bar{
border: 1px solid black;
background-color: rgb(218, 214, 214);
}
.post-top_bar__wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}
.post-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;border-bottom: 2px solid black;
}
.post-infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.post-infos_likes{
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-infos_likes button{
    background-color: transparent;
    border: none;
}
@media (max-width : 768px) {
    .post-image img{
     height: 350px;
    }
    
 }