.user-info_wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.user-info_wrapper__desc{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.user-info_wrapper img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.user-info_wrapper__username{
    width: 100%;
    font-size: 32px;
    font-weight: 600;
}
.buttons-wrapper{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.buttons-wrapper_btn{
    padding: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    border-radius: 50px;
    width: 50%;
    text-decoration: none;
}
.posts-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 40px auto;
}
.posts-section img{
   width: 100%;
   height: 300px;
   border: 2px solid black;
   object-fit: cover;
}


@media (max-width : 768px) {
    .posts-section img{
        height: 200px;
     }
}
@media (max-width : 480px) {
   .user-info_wrapper img{
    width: 60px;
    height: 60px;
   }
   .user-info_wrapper{
    gap: 15px;
   }
   .user-info_wrapper__username{
    font-size: 23px;
   }
   .posts-section img{
    height: 100px;
 }
 .buttons-wrapper button{
    padding: 10px;
}
}