body{
    background: #FFF;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(42, 81, 209, 1) 50%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}